{% extends "layout.html" %}
{ {%block head%}%} 
<head>
    <style>
    div.first {
        height: 200px;
        width: 50%;
        background-color: rgba(186, 203, 206, 0.541);
    }
    </style>
    </head>
    <title>home page</title>
    {%endblock%}
<body>
    {%block content%}
    <center>
        <br><br>
<div class="first">
    <H1>About me</H1>
<h4>
    Hi!, my name is Yasha Belkin and I'm 21 years old, 
    I'm from Eilat and I just finished my service in the army
    in the begining of the year, I always had an
    intrest in programming
    and that's why I decided to learn Python, this is 
    my first project and I know i got a long way until
    I become a Python fullstack developer and I'm exited for it.

</h4>

</div>
    </center>
    {%endblock%}
</body>