{% extends "layout.html" %}
<body>



  
    {%block content%}
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%- endfor %}
    <center>
        <br>
    <h2 style="color:aliceblue">loan a book</h2>
        <br><br>
    <form action="{{ request.path }}" method="post">
        <label style="color: aliceblue;" for="cust_id">customer ID </label><br>
        <input type="text" name="cust_id" placeholder="cust_id"><br>
        <label style="color: aliceblue;" for="book_id">book ID</label><br>
        <input type="text" name="book_id" placeholder="book_id" /><br><br><br>
        <input type="submit" value="loan" class="btn btn-outline-light">
        {%endblock%}
    </center>
    </form>

</body>

</html>

