{% extends "layout.html" %}

<body>
    {%block content%}
    <center>
    <h1 style="color:azure;">delete a book</h1>
    <hr />

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%- endfor %}

    <form action="{{ request.path }}" method="post">
        <label style="color: aliceblue;" for="name"> book name to delete? </label><br>
        <input type="text" name="name" placeholder="name of the book">
        <input type="submit" value="Submit" />
    </form>
    {%endblock%}

</body>

</html>