{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    { {%block head%}%} 
    <head>
        <style>
        div.first {
            height: 200px;
            width: 50%;
            background-color: rgba(186, 203, 206, 0.541);
        }
        </style>
        </head>
        <title>home page</title>
        {%endblock%}

</head>
<body>
    {%block content%} 
    <center>
        <br>
        <br><br>
        <div class="first">
    <h1 style="color:#ffffff">welcome to Yasha's library <br>
    here you can manage a simple library with a couple of simple functions <br>
enjoy !
</div>
</center>
</h1>


    {%endblock%}
</body>
</html>