{% extends "layout.html" %}

<body>

   {%block content%}
   <center>
      <br>
      <br>
      <a href="/add_loan" button type="button" class="btn btn-light">Loan a book</a>
      <br>
      <br>
     <br><br>


      <div class="row row-cols-1 row-cols-md-4 g-4">


      {% for Books,Loans,Customers in show_loans %}
       <>
      <div class="card" style="width: 16rem;">
            <img src="/static/loanimg.png" class="card-img-top" alt="">
            <div class="card-body">
               <h5 class="card-title">Loan ID : {{Loans.loan_id}} </h5>
               <h6 class="card-text">Cusomer: {{ Customers.name }} </h6>
               <br>
               <p class="card-text">Book name: {{ Books.name }} </p>
               <p class="card-text">book ID: {{Books.id}}</p>
               <p class="card-text">Loan date: {{ Loans.loan_date }}</p>
               <p class="card-text">return until: {{ Loans.return_date }}</p>
               <p class="card-text">Loan status: {{ Loans.status }}</p>
               <p class="card-text"></p>
               <div class="card-body"></div>
            </div>
         </div>

      {% endfor %}
      </div>
      </div>
   </center>

   {%endblock%}
</body>

</html>